.buttonWrap{
  padding: 10px 20px;
  color: white;
  background-color: #B124A0;
  border-radius: 5px;
  cursor: pointer;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 600px) {
.buttonWrap{
  font-size: 11px;
  padding: 5px 10px;
  height: 30px;
}
}
