.service-introduction {
    font-weight: bold;
    .main-content {
        display: flex;
        justify-content: space-between;
        .img-content {
        width: 49%;
        height: 580px;
        position: relative;
            .imageBg {
                width: 100%;
                height: inherit;
                object-fit: cover;
                z-index: 0;
            }
            .title-img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
                z-index: 1;
                font-weight: bold;
                font-size: 2.5rem;
                white-space: nowrap;
                text-decoration: underline;
            }
        }
        
    }
    .title {
        display: flex;
        justify-content: center;
        .title-content {
            width: fit-content;
            border-top: 6px solid #000;
            padding-top: 30px;
            font-weight: bold;
            font-size: 2.5rem;
            white-space: nowrap;
            text-decoration: underline;
            margin-top: 40px;
            margin-bottom: 30px;
        }
    }
    
    .carouselWrap{
        width: 100%;
        .itemCarousel{
          width: 100%;
          height: calc(100vh - 100px);
          position: relative;
          .imageBg{
            position: absolute;
            top: 0;
            left: 0;
            object-fit: cover;
            width: 100%;
            height: 100%;
            z-index: 0;
          }
          .titleCarousel{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            z-index: 1;
            font-weight: bold;
            white-space: nowrap;
            .titleCarousel-child {
                font-size: 2.5rem;
            }
          }
        }
    }
    .explain-details {
        margin: 0 180px;
        .title-explain {
        text-align: start;
        margin-bottom: 1rem;
        }
        .content-explain {
            text-align: justify;
            line-height: 2rem;
        }
        .itemButton {
            width: fit-content;
            margin: 2rem auto;
        }
    }
    .border {
        height: 6px;
        width: 40%;
        background: #000;
        margin: 0 auto;
        margin-bottom: 3rem;
    }
    .carousel-track {
        height: 500px;
    }
}
@media only screen and (max-width: 600px) {
    .service-introduction {
        .main-content {
            .img-content {
                height: 260px;
                .title-img {
                    font-size: 1rem;
                }
            }
        }
        .title {
            .title-content {
                font-size: 1rem;
            }
        }
        .carouselWrap{
            .itemCarousel{
              .titleCarousel{
                .titleCarousel-child {
                    font-size: 1rem;
                }
              }
            }
        }
        .explain-details {
            margin: 0 60px;
        }

    }
}
